.card  {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  background-color: rgba(243, 226, 194, 0.856);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 5in;
  height: auto;
}
.nav {
  background-color: rgba(255, 255, 255, 0.644);
  font-family: 'Fredericka the Great', cursive;
  color :rgb(0, 0, 0);
  font-size: large;
}

body {
  text-align: center;
  background-color: rgba(185, 151, 86, 0.493);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
span {
  color: rgb(192, 53, 53);
}
h1 {
  color: rgb(196, 148, 101);
}
.nav-link {
  color: white;
}
.btn {
  background-color: rgb(201, 184, 172);
}
