@{
    Layout = "_Layout";
}

@using Bakery.Models;

<div class="container card">
  <h4>
  @* <a class="nav-link" href="/Account/Register"> Register</a>
  |<a class="nav-link" href="/Account/Login"> Log In </a></h4>  *@
  <br />
  <input class="btn btn-info" type="button" value="Flavors" onclick='location.href="@Url.Action("Index", "Flavors")";' />
  <input class="btn btn-info" type="button" value="Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
</div>