@{
    Layout = "_Layout";
}

<div class="container card">
  <br />
  <input class="btn btn-default" type="button" value="Pierre's Flavors" onclick='location.href="@Url.Action("Index", "Flavors")";' />
  <input class="btn btn-default" type="button" value="Pierre's Treats" onclick='location.href="@Url.Action("Index", "Treats")";' />
  <br /><br />
</div>