@{
    Layout = "_Layout";
}

@using Bakery.Models;
<div class="container card">
  <input class="btn btn-info" type="button" value="Flavors" onclick='location.href="Url.Action("Index", "Flavors")";' />
  <input class="btn btn-info" type="button" value="Treats" onclick='location.href="Url.Action("Index", "Treats")";' />
</div>