@{
  Layout = "_Layout";
}

<div class="container card">
<hr />
@if (User.Identity.IsAuthenticated)
{

    <p>Welcome to Pierre's <strong>@User.Identity.Name!</strong></p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    <br />
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
<hr />
</div>