@{
  Layout = "_Layout";
}

@using Bakery.ViewModels

@model LoginViewModel
<div class="container card">
<u><h3>Log in with your account</h3></u>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)<br>
    @Html.TextBoxFor(m => m.Email)<br><br>

    @Html.LabelFor(m => m.Password)<br>
    @Html.PasswordFor(m => m.Password)<br><br>

    <input type="submit" value="Log in" class="btn btn-default" />
}
<br />
</div>