@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<div class="container card">
<h4>Add Treat to Pierre's</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Treat Name")
  <br />
  @Html.TextBoxFor(model => model.TreatName)
  <br /><br />
  <input class="btn btn-default" type="submit" value="Add new treat!" />
}
<br />
<p>@Html.ActionLink("Show all treats", "Index")</p>
</div>